<h1>添削システムロジック</h1>


<h2><%= link_to 'コースの追加', add_cource_path %></h2>
<h2><%= link_to 'コース一覧', index_cource_path  %></h2>
<h2><%= link_to 'ユーザーの追加',add_user_path %></h2>
<h2><%= link_to 'ログイン',index_user_teacher_path %></h2>