<h2>コース一覧</h2>
<table border=1>
  <tr><th>講座名</th></tr>
  <%= render partial: 'masterCource', collection: @cources %>
</table>
<hr>
<h2>受講コース一覧</h2>
<table border=1>
  <tr><th>講座名</th></tr>
  <%= render partial: 'masterCource', collection: @my_cources %>
</table>

